.info {
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.picture img {
    width: 600px;
    height: 350px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 4px 15px #dbe2ef;
}

.picture-info {
    position: relative;
    width: 50%;
    height: 330px;
    padding: 15px;
}

.picture-info h1 {
    font-size: 30px;
}

.picture-info p {
    margin-top: 17px;
    color: #717171;
}

.download-button {
    background-color: #0b2545;
    color: white;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    margin-top: 12px;
}

.download-button:hover {
    scale: 0.97;
}

.picture-content-info {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    height: auto;
    background: #f9f7f7;
    line-height: 28px;
    color: #112d4e;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
}

.picture-content-info i {
    font-size: 16px;
}

.find-more {
    margin-top: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 310px));
    grid-gap: 10px;
    justify-content: center;
}

.find-more img {
    width: 100%;
    border-radius: 10px;
    height: 190px;
}