*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: 0.3s;
}

.icons {
    height: 25px;
    margin-right: 10px;
    margin-bottom: -6px;
}

body {
    background: #ececec;
}

.header-menu {
    background: none;
    position: absolute;
    top: 45vh;
    transition: 0.6s;
}

.header-menu.scrolled {
    position: fixed;
    top: 0;
    background: #112d4e;
}

.background-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    transition: 0.6s;
}

.background-img.scrolled {
    margin-top: -47vh;
}

.blogPost-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
    gap: 1rem;
}

.blogPost {
    height: 430px;
    background: #f9f7f7;
}

.blogPost:hover {
    scale: 0.98;
    cursor: pointer;
}

.info-box-background-img {
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info-box-content {
    padding: 5px;
}

.info-box-content h1 {
    font-size: 15px;
}

.content-box-info-box a {
    text-decoration: none;
}

.content-box-info-box h1 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #112d4e;
}

.info-box-who-post {
    position: relative;
}

.info-box-profile-pic {
    position: absolute;
    bottom: -32px;
    width: 20px;
    height: 20px;
    border-radius: 100%;

    background-position: center;
    background-size: cover;
}

.info-box-who-post p {
    position: absolute;
    left: 25px;
    bottom: -31px;
    font-size: 13px;
    color: rgb(156, 156, 156);
}

/*preview box*/

.blogPost-preview{
    z-index: 9999;
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.blogPost-preview .preview {
    display: none;
    padding: 1rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 1rem;
    width: 80%;
    height: 90vh;
    border-radius: 15px;
}

.blogPost-preview .preview.active{
    display: flex;
    gap: 2%;
}

.blogPost-preview .preview .fa-times{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color:#112d4e;
    font-size: 3rem;
}

.blogPost-preview .preview .fa-times:hover {
    scale: 0.98;
    color: #3f72af;
    rotate: 90deg;
}

.imageContainer, .contentContainer {
    width: 48%;
}

.imageContainer .images {
    width: 100%;
    height: calc(90vh - 2rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.userProfile {
    display: flex;
    width: 100%;
    height: 60px;
}

.profilePicture {
    margin: auto 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    border: #112d4e 2px solid;
}

.userName {
    margin: auto 10px;
    font-size: 20px;
    color: #333333;
    font-weight: 500;
}

.postInfo {
    margin-top: 20px;
    width: 100%;
    height: 510px;
}

.postInfo h1 {
    text-align: start;
    font-size: 22px;
    line-height: 25px;
}

.postInfoContent {
    margin-top: 0.5rem;
    text-align: start;
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
}

.postInfoContent span {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding-right: 2rem;
    font-size: 16px;
}

.postLocationDate {
    position: absolute;
    bottom: 1rem;
    border-top: black 2px solid;
    padding-top: 5px;
}

.postLocationDate span {
    text-transform: uppercase;
    margin-right: 2rem;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    .blogPost-preview .preview {
        border-radius: 0;
    }

    .blogPost-preview .preview .fa-times {
        font-size: 2rem;
    }

    .blogPost-preview .preview.active {
        flex-direction: column;
        width: 100%;
        margin: 0;
        height: auto;
        overflow-y: scroll;
    }

    .imageContainer, .contentContainer {
        width: 100%;
    }

    .imageContainer .images {
        height: 40vh;
        background-size: contain;
    }

    .contentContainer {
        height: 60vh;
    }

    .postInfoContent {
        height: auto;
        padding-bottom: 20px;
    }

    .postInfo h1 {
        font-size: 18px;
        line-height: 22px;
    }

    .postInfo span {
        font-size: 14px;
    }

    .postLocationDate {
        bottom: auto;
        padding-bottom: 3rem;
    }
}