nav {
    background: #112d4e;
}

.ginger-content {
    margin-top: 100px;
    width: 90%;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 230px;
    padding: 40px 0;
}

.header-menu {
    background: #112d4e;
}

@media only screen and (max-width:1000px) {
    .header-menu {
        background: none;
    }

    .header-menu.scrolled {
        background: #112d4e;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 78%;
    height: 230px;

    color: #112d4e;
}

.header-info h1, .header-info p {
    padding: 5px 0;
}

.header-info a {
    width: 200px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.header-info button {
    width: 150px;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    border-style: none;
    background: #112d4e;
    transition: 0.3s;
    cursor: pointer;
}

.header-info button:hover {
    scale: 0.97;
}

.header-info-img {
    margin-left: 20px;
    width: 25%;
    height: 230px;
}

.header-info-img img {
    width: 100%;
    height: 230px;
    border-radius: 15px;
}

.filter-button {
    margin: 30px 0;
}

.filter-btn {
    background: transparent;
    border: solid 2px #e9ecef;
    font-size: 16px;
    color: #6c757d;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;

}

.filter-btn:hover {
    background: #e9ecef;
    color: #112d4e;
}

.filter-btn.active {
    background: #112d4e;
    color: white;
}

.filter-cards {
    display: grid;
    grid-template-columns: 74% 25%;
    gap: 3%;
}

.aside-toggle-btn {
    display: none;

    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: #112d4e;
    border-radius: 100%;
    z-index: 9999;
    color: white;
    font-weight: bold;
    font-size: 20px;

    transition: 0.3s;
    border: 3px solid white;
}

.aside-toggle-btn:hover {
    cursor: pointer;
    scale: 0.95;
}


@media only screen and (max-width:1000px) {
    .header {
        flex-direction: column;
    }

    .header-info-img {
        top: 0;
        position: absolute;
        width: 100%;
        margin: 0;
    }

    .header-info-img img {
        height: 400px;
        border-radius: 0;
    }

    .header {
        margin-top: 250px;
    }

    .aside-content {
        width: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        padding: 180px 60px;
        gap: 30px;
        height: 100vh;
        z-index: 999999;
        transition: 0.3s;
    }

    .aside-content.active {
        right: 0;
        align-items: center;
        justify-content: center;
        opacity: 100%;
        background: rgb(0, 0, 0, 0.8);
        border-radius: 0;
    }

    .aside-toggle-btn {
        display: inline-block;
        z-index: 99999999999;
    }

    .filter-button {
        margin-top: -20px;
    }

    .filter-cards {
        display: flex;
        flex-direction: column;
    }
}

.filter-cards-crd {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 18px;
    margin-bottom: 80px;
}

.filter-cards-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 340px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    transition: 0.3s;
}

.filter-cards-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);
}

.img {
    width: 100%;
    height: 55%;
}

.img img {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
}

.filter-cards-info-words {
    position: relative;
    width: 90%;
    height: 150px;
}

.filter-cards-info-words h1 {
    margin: 5px 0;
    color: #112d4e;
    font-size: 18px;
}

.filter-cards-info-words p {
    font-size: 12px;
}

.filter-cards-info-words a {
    text-decoration: none;
}

.icon {
    margin-top: 5px;
    margin-left: -3px;
    margin-bottom: -6px;
    font-size: 12px;
    color: #112d4e;
    font-weight: bold;
}

.download-btn button {
    position: absolute;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: #112d4e;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    bottom: 10px;
    transition: 0.3s;
}

.download-btn button:hover {
    background: #3f72af;
    scale: 0.95;
}

.hidden {
    display: none;
}

.popup-image {
    display: none;
    position: fixed;
    top: 0; left: 0;
    background: black;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 3px;
    object-fit: cover;
    width: 50%;
}

.popup-image span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.aside-content {
    width: auto;
    border-radius: 15px;
    height: auto;
    float: right;
}

.quick-tips, .featured-guides, .usage-rules{
    width: 93%;
    height: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    margin-bottom: 20px;
    background: white;
}

.usage-rules {
    background: #f2f2f6;
}

.aside-info {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.aside-info h5 {
    width: 90%;
    font-size: 18px;
}

.quick-tips-p {
    margin-top: 20px;
    width: 90%;
    font-size: 14px;
}

.quick-tips-info-box {
    width: 100%;
    display: flex;
}

.quick-tips-info-box p {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: auto;
    gap: 5px;
    font-size: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    background: rgba(228, 228, 228, 0.65);
    border-radius: 8px;
}

.quick-tips-info-box p i {
    font-size: 8px;
}

.featured-guides-link {
    text-decoration: none;
}

.featured-guides-p {
    width: 90%;
    height: auto;
}

.featured-guides-article {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.featured-guides-img {
    width: 25%;
    margin-right: 10px;
}

.featured-guides-img img {
    width: 70px;
    height: 45px;
    border-radius: 3px;
}

.featured-guides-words {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.featured-guides-words h1 {
    font-size: 14px;
    color: #112d4e;
}

.featured-guides-words p {
    font-size: 12px;
    color: black
}

.usage-rules h5 {
    margin-bottom: 20px;
}

.usage-rules-p {
    width: 90%;
    height: auto;
}

.usage-rules-p-info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    line-height: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 100px;
}
.page-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
.page-btn:hover {
    background-color: #f5f5f5;
}
.page-btn.active {
    background: #112d4e;
    color: #fff;
    border-color: #111;
}
.filter-cards-info {
    display: flex;
    margin-bottom: 20px;
    transition: 0.3s;
}

