.ginger-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #112d4e;
    z-index: 999;

    a img {
        width: 200px;
        padding: 0 100px;
    }
}