.postInfo {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 3%;
}

.postInfoImage {
    display: flex;
    justify-content: end;
    width: 45%;
    height: 500px;
}

.postInfoImageImg {
    background-size: cover;
    background-position: center;
    width: 65%;
    height: 100%;
}

.postInfoContent {
    display: flex;
    width: 45%;
    height: 500px;
}

.postInfoContentProfile {
    display:flex;
    width: 100%;
    height: auto;
    background: white;
}

.postInfoContentProfileImg {
    margin: auto 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.postInfoContentProfile h1 {
    margin: auto 10px;
    font-size: 18px;
}

.postInfoContentContent, .postInfoContentDate {
    padding-left: 10px;
}

.postInfoContentContent {
    margin-top: 20px;
    padding-right: 20px;
}

.postInfoContentContent h1 {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 10px;
}

.postInfoContentContent p {
}