.ginger-header {
    width: 100%;

    nav.scrolled
    {
        background: #112d4e;
    }

    nav li a {
        transition: 0.9s;
    }

    nav li a:hover {
        font-size: 20px;
    }

    nav li a:hover::after {
        content: '';
        background: #f9f7f7;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        border-radius: 5px;
    }
}

#menu-here {
    font-size: 17px;
}

#menu-here::after {
    font-size: 17px;
    content: '';
    background: #f9f7f7;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
}

nav .logo {
    position: relative;
    width: 240px;
    height: 150px;
    left: 80px;
}

nav ul li {
    position: relative;
    list-style: none;
    display: inline-table;
    margin-left: 50px;
    right: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #f9f7f7;
    font-weight: 500;
    font-size: 17px;
}
